@model SolaClinc.Models.Service

@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceImg)
        </dt>
        <dd class = "col-sm-10">
            <img style="border-radius: 50%;width:163px;height:163px" src="@Url.Content(Model.ServiceImg)" />
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ServiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
